<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clerk page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="clerk_create.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "images/logo.png" type = "image/png">
    </head>
    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>SWE Project</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>
        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "#header">home</a></li>
                <li><a href = "#services">services</a></li>
            </ul>


        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->

        <!-- body content  -->
        <section class = "services sec-width" id = "services">
            <div class = "services-container">
                    <form class="box" action="login.html" method="POST">


                        <h1>CREATE BOOKING</h1>
                        
                        <input type = "text" name = "" placeholder="First Name of guest" id = "fname">
                        <input type = "text" name = "" placeholder="Second Name of guest" id = "sname">
                        <input type = "text" name = "" placeholder="Enter guest's phone number" id = "phone">


                        <input type = "room_type" placeholder="Room type" id = "room_type" name="room_type">
                        <input type = "room_number" placeholder="Room number" id = "room_number" name="room_number">
                        <input type = "arrival" placeholder="Arrival date" id = "arrival" name="arrival">
                        

                        <input type = "submit" name = "" value = "Create booking">


                    </form>
            </div>
        </section>
        
        <script src="script.js"></script>
    </body>
</html>
