<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOTEL CHAIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "images/logo.png" type = "image/png">
    </head>
    <body>

        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>SWE Project</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "head-bottom flex">
                <h2>Hotel Chain</h2>
                <p>This app provide information about hotels and their facilities</p>

                <A HREF="/register"><button type = "button" cl ass = "btn sign-up">SIGN UP</button></A>
                <A HREF="/login"><button type = "button" class = "btn log-in">LOG IN</button></A>

            </div>
        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "#header">home</a></li>
                <li><a href = "#services">services</a></li>
            </ul>


        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->

        <!-- body content  -->
        <section class = "services sec-width" id = "services">
            <div class = "title">
                <h2>services</h2>
            </div>
            <div class = "services-container">

                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class="fas fa-book"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Booking</h2>
                        <p>Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later</p>
                    </div>
                </article>
                <!-- end of single service -->

                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class="fas fa-ban"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Cancel Booking</h2>
                        <p>Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later</p>
                    </div>
                </article>
                <!-- end of single service -->

                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class="fas fa-user-plus"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Log In/ Log Out/ Sign Up</h2>
                        <p>Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later</p>
                    </div>
                </article>
                <!-- end of single service -->

                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class="fas fa-book-open"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Past and Upcoming Bookings</h2>
                        <p>Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later Add later</p>
                    </div>
                </article>
                <!-- end of single service -->
            </div>
        </section>

        <script src="script.js"></script>
    </body>
</html>