<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOTEL CHAIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="profile.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>SWE Project</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "title">
                <h3>Profile Page</h3>
            </div>
            
            
            <table>
                <tr>
                    <th>First name:</th>
                    <td>Name</td>
                </tr>
                <tr>
                    <th>Second name:</th>  
                    <td>Surname</td>      
                </tr>
                <tr>
                    <th>Username:</th>  
                    <td>name_123</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>123-45-678</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>user@mail.com</td>
                </tr>
                <tr>
                    <th>Contrycode:</th>
                    <td>7182</td>
                </tr>
                <tr>
                    <th>City:</th>
                    <td>Pavlodar</td>
                </tr>
                <tr>
                    <th>Street:</th>
                    <td>Satpaev</td>
                </tr> 
            </table>
        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "#header">Profile Page</a></li>
                <li><a href = "#past">Past bookings</a></li>
                <li><a href = "#future">Future bookings</a></li>
                <li><a href = "#book">Booking</a></li>
            </ul>
            <A HREF="home_page.html"><button class = "btn sign-up">log out</button></A>
        </div>
        <!-- end of side navbar -->



        
        <!-- past content  -->
        <div class = "title">
            <h3>past</h3>
        </div>
        <section class = "past sec-width" id = "past">
            
                
            <table>
                <tr bgcolor= #1386BA>
                    <th>Hotel Name</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Rooms</th>
                </tr>
                <tr>
                    <td>Vava</td>
                    <td>Arna</td>
                    <td>Hofs</td>
                    <td>Kino</td>
                    <td>Aqwo</td>
                    <td>Pota</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </table>              
        </section>


        <!-- past content  -->
        <div class = "title">
            <h3>Future</h3>
        </div>
        <section class = "past sec-width" id = "future">
            
                
            <table>
                <tr bgcolor= #1386BA>
                    <th>Hotel Name</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Rooms</th>
                </tr>
                <tr>
                    <td>Vava</td>
                    <td>Arna</td>
                    <td>Hofs</td>
                    <td>Kino</td>
                    <td>Aqwo</td>
                    <td>Pota</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
                <tr>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>Test</td>
                </tr>
            </table>          
        </section>


        <section class="bookings" id="book">
            <div class = "book">
                <div class = "title">
                    <h3>Booking</h3>
                </div>
                <form class = "book-form">
                    <div class = "form-item">
                        <label for = "checkin-date">Check In Date: </label>
                        <input type = "date" id = "chekin-date">
                    </div>
                    <div class = "form-item">
                        <label for = "checkout-date">Check Out Date: </label>
                        <input type = "date" id = "chekout-date">
                    </div>
                    <div class = "form-item">
                        <label for = "adult">Adults: </label>
                        <input type = "number" min = "1" value = "1" id = "adult">
                    </div>
                    <div class = "form-item">
                        <label for = "children">Children: </label>
                        <input type = "number" min = "1" value = "1" id = "children">
                    </div>
                    <div class = "form-item">
                        <label for = "rooms">Rooms: </label>
                        <input type = "number" min = "1" value = "1" id = "rooms">
                    </div>
                    <div class = "form-item">
                        <input type = "submit" class = "btn" value = "Book Now">
                    </div>
                </form>
            </div>
        </section>
        
        
        
        <script src="script.js"></script>
    </body>
</html>